// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



/// Regular font family
/// @type List
$ff-inter: 'Inter', 'sans-serif';
$ff-raleway: "Raleway", 'sans-serif';


//Color
//@type Color
$clr-white: rgba(255, 255, 255, 1) !default;

//@type Color
$clr-black: rgba(0, 0, 0, 1) !default;

//@type Color
$clr-white-cream: rgba(246, 241, 233, 1) !default;

//@type Color
$clr-yellow: rgba(255, 217, 61, 1) !default;

//@type Color
$clr-orange: rgba(255, 132, 0, 1) !default;

//@type Color
$clr-brow: rgba(79, 32, 13, 1) !default;




/*font-sizes*/
//$fs-base: 1.375rem; //22px
//$fs-btn: 1.25rem; //20px
//$fs-med: 3.125rem; //50px
//$fs-big: 3.25rem; //52px
//$fs-lg: 4.188rem; //67px
$fs-banner: 5.125rem; //82px


/* custom properties - constants */
$base-fs: .15rem;
$spacer-xsm: 0.25rem;
$spacer-sm: 0.5rem;
$spacer-smd: .50rem;
$spacer-md: 1rem;
$spacer-lg: 1.5rem;
$spacer-xlg: 3rem;
/* font & weight */
$fw-reg: 400;
$fw-med: 500;
$fw-bold: 700;
$fw-xbold: 900;
/*font sizes*/
/* font sizes */
$fs-xsm: 1rem;
$fs-sm: 1.125rem;
$fs-rg: 1.25rem;
$fs-md: 1.5rem;
$fs-mdl: 2.125rem;
$fs-mdxl: 3rem;
$fs-lg: 4rem;
$fs-xlg: 5rem;
/*colors*/
/*    --clr-white: hsl(0,0%,100%);*/
$clr-d-gray: #2D3338;
$clr-a-gray: hsl(0, 0%, 85%);
$clr-light-blue: hsl(197, 100%, 47%);
$clr-facebook-blue: hsl(220, 46%, 48%);


$bg-orange: hsl(35, 84%, 50%);
$bg-white: hsl(0, 0%, 100%);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);