// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

@use "../abstracts" as abs;


.w-12 {
    width: 60px !important;
}

.w-67 {
    width: 67% !important;
}


//!CLR START
.clr-whiteCream {
    background-color: abs.$clr-white-cream !important;
}

.clr-yellow{
    background-color: abs.$clr-yellow !important;
}

.clr-yellow-light{
    color: abs.$clr-yellow;
}

//!CLR END

//@ MARGIN AND PADDING GENERATOR START

//@ MARGIN AND PADDING GENERATOR END

//* VW AND VH GENERATOR START
//@include abs.vh-vw-generator("vh-", "height", "vh");

//@include abs.vh-vw-generator("vw-", "width", "vw");
//* VW AND VH GENERATOR START

.vh-18{
    height: 23vh !important;
}

.vh-25{
    height: 18vh !important;
}

.h-65{
    height: 65% !important;
}


// ?BORDER RADIUS START

.border-radius-0{
@include abs.border-radius(0px);
}

.border-radius-25{
@include abs.border-radius(12px);
}

.border-radius-login{
    @include abs.border-radius(10px 0px 0px 10px);
}

.border-radius-signup{
    @include abs.border-radius(0px 10px 10px 0px);
}

.border-radius-exterior {
    @include abs.border-radius(0.5rem);
}

.border-radius-right{
    @include abs.border-radius(0 0.5rem 0.5rem 0);
}

// ?BORDER RADIUS START

// !BORDER START
// !BORDER END


// ?Font Size START
// ?Font Size END
