// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

@use "../abstracts/" as abs;


.w-12 {
    width: 60px !important;
}

.w-67 {
    width: 67% !important;
}

//!CLR START
.clr-whiteCream {
    background-color: abs.$clr-white-cream !important;
}

.clr-yellow{
    background-color: abs.$clr-yellow !important;
}

//!CLR END

//@ MARGIN AND PADDING GENERATOR START

//@ MARGIN AND PADDING GENERATOR END

//* VW AND VH GENERATOR START
@include abs.vh-vw-generator("vh-", "width", "vh");


@include abs.vh-vw-generator("vw-", "width", "vw");
//* VW AND VH GENERATOR START


// ?BORDER RADIUS START

.border-radius-0{
@include abs.border-radius(0px);
}

.border-radius-25{
@include abs.border-radius(12px);
}


// ?BORDER RADIUS START

// !BORDER START
// !BORDER END