// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

@use "../abstracts/" as abs;

.w-67 {
    width: 67% !important;
}

//!CLR START
.clr-whiteCream {
    background-color: abs.$clr-white-cream !important;
}

.clr-yellow{
    background-color: abs.$clr-yellow !important;
}

//!CLR END

//@ MARGIN AND PADDING GENERATOR START

//@ MARGIN AND PADDING GENERATOR END
