@use "../abstracts" as abs;
// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.btn-singIn{
  background-color: abs.$clr-white-cream;
  color: abs.$clr-black;
  border: abs.$clr-white-cream;
  @include abs.for-phone-only{
  }
  @include abs.for-tablet-portrait-up{

  }
  @include abs.for-desktop-up{
  }
  @include abs.for-big-desktop-up{
  }
}

.btn-register{
  background-color: abs.$clr-yellow;
  color: abs.$clr-black;
  border: abs.$clr-yellow;
}

.container-banner{
  position: relative;
  display: inline-block;
}

.text-banner{
  font-size: abs.$fs-banner;
  position: absolute;
  //@include abs.for-small-phone-only{
  //  color: rebeccapurple;
  //  font-size: abs.$fs-mdl;
  //  bottom: 0.5rem;
  //  right: 6rem;
  //}

  @include abs.for-phone-only{
    font-size: abs.$fs-mdl;
    bottom: 1rem;
    right: 6rem;
  }

  @include abs.for-tablet-portrait-up{
    font-size: abs.$fs-lg;
    bottom: 2rem;
    right:15rem;
  }

  @include abs.for-desktop-up{
    font-size: abs.$fs-banner;
    bottom: 7rem;
    right: 35rem;
  }

  @include abs.for-big-desktop-up{
    font-size: abs.$fs-banner;
    bottom: 11rem;
    right: 39rem;
  }

}

.yellow-line{
  @include abs.generate-line(abs.$clr-yellow, 1vh, 100%);

  @include abs.for-desktop-up{
    width: 100%;
  }

  @include abs.for-big-desktop-up{
    width: 97%;
  }
}

.border-top{
  border: abs.$clr-brow !important;
}