// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
@use "../abstracts" as abs;

.ff-inter{
  @include abs.font-source-sans(abs.$ff-inter, abs.$clr-black);
}

.clr-whiteCream{
  background-color: abs.$clr-white-cream !important;
}

.title-carousel{
  @include abs.font-source-sans(abs.$ff-inter, abs.$clr-black);
}

.container-carousel{
  position: relative;
  display: inline-block;
  @include abs.for-big-desktop-up{
    padding-right: 3rem;
  }
}


//Hacer un mixin de esto
.btn-carouselLeft{
  background-color: abs.$clr-yellow !important;
  border: abs.$clr-black !important;
  color: abs.$clr-black !important;
  opacity: 80% !important;
  position: absolute;
  top: -19rem !important;
  height: 100px;
}

.btn-carouselRight{
  background-color: abs.$clr-yellow !important;
  border: abs.$clr-black !important;
  color: abs.$clr-black !important;
  opacity: 80% !important;
  position: absolute;
  top: -19rem !important;
  height: 100px;
}

.btn-search{
  background-color: abs.$clr-yellow !important;
  border: abs.$clr-yellow !important;
  color: abs.$clr-black;

}

.img-sizeCards {
  float: left;
  width: 371px;
  height: 579px;
  object-fit: cover;
}
